@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

* {
  list-style: none;
  scroll-behavior: smooth;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-body font-roboto;
  }

  .btn-gradient {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    background: linear-gradient(180deg, #583180 0%, #190323 100%);
    overflow: hidden;
    transition: color 200ms;
  }

  .btn-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #b371f7 0%, #3f2a49 100%);
    transition: opacity 200ms;
    opacity: 0;
    z-index: 0;
  }

  .btn-gradient:hover::before {
    opacity: 1;
  }

  .btn-gradient span {
    position: relative;
    z-index: 1;
  }

  .wrapper {
    @apply max-w-[1440px] mx-auto w-full md:px-10 lg:px-12 px-5 sm:px-6;
  }

  .h1-bold {
    @apply font-bold text-[60px] max-md:text-[40px] leading-[120%] max-md:leading-[110%] text-primary;
  }

  .h2-bold {
    @apply font-bold text-[45px] leading-[130%] max-md:text-[36px] text-primary;
  }
  .h3-bold {
    @apply font-bold text-[40px] leading-[130%] text-primary max-lg:text-[30px];
  }
  .h4-bold {
    @apply font-bold text-[22px] leading-[130%] text-primary;
  }

  .text-large {
    @apply text-[20px] max-md:text-[18px] leading-[130%];
  }
  .text-medium {
    @apply text-[18px] leading-[150%] max-md:text-[16px];
  }
  .text-medium-bold {
    @apply font-bold text-[18px] leading-[150%] max-md:text-[16px];
  }

  .text-base {
    @apply text-[16px] leading-[150%];
  }
  .text-base-bold {
    @apply font-bold text-[16px] leading-[150%];
  }

  .text-caption {
    @apply font-medium text-[14px] leading-[150%];
  }

  .text-small {
    @apply text-[14px] leading-[150%];
  }

  .custom-list {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .custom-list li {
    position: relative;
    padding-left: 1.2em;
  }

  .custom-list li::before {
    content: "•"; /* Custom bullet point */
    color: #862fe7; /* Change bullet color here */
    font-size: 28px; /* Increase bullet size */
    position: absolute;
    left: 0;
  }
}

/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 380px); 
    justify-content: center; 
    align-items: start;
    gap: 32px;
  }

  
    .grid-container {
      grid-template-columns: repeat(2, 380px); 
      gap: 48px;
    }
  }


  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 380px; 
      gap: 48px;
    }
  } */
